openapi: 3.2.0
info:
  title: Facebook Instagram Tags API
  description: Manage Instagram Business and Creator account content including publishing media, retrieving posts, managing comments, discovering mentions, and accessing account insights.
  version: '21.0'
  contact:
    name: Meta Platforms
    url: https://developers.facebook.com
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.facebook.com/v21.0
  description: Instagram API v21.0 via Graph API
security:
- BearerAuth: []
tags:
- name: Tags
paths:
  /{ig-user-id}/tags:
    get:
      operationId: getInstagramTags
      summary: Facebook Get Instagram Tags
      description: Retrieve media where the user has been tagged.
      tags:
      - Tags
      parameters:
      - name: ig-user-id
        in: path
        required: true
        description: The Instagram user ID.
        schema:
          type: string
        example: '17841405822304914'
      responses:
        '200':
          description: Tagged media retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    InstagramMedia:
      type: object
      description: An Instagram media object.
      properties:
        id:
          type: string
          description: Media ID.
          example: '17895695668004550'
        caption:
          type: string
          description: Media caption.
          example: Beautiful sunset!
        media_type:
          type: string
          description: Media type.
          enum:
          - IMAGE
          - VIDEO
          - CAROUSEL_ALBUM
          example: IMAGE
        media_url:
          type: string
          format: uri
          description: URL to the media.
        permalink:
          type: string
          format: uri
          description: Permanent URL to the media on Instagram.
        timestamp:
          type: string
          format: date-time
          description: Publishing timestamp.
        like_count:
          type: integer
          description: Number of likes.
          example: 1500
        comments_count:
          type: integer
          description: Number of comments.
          example: 45
    MediaList:
      type: object
      description: Paginated list of Instagram media.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InstagramMedia'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      description: Pagination cursors.
      properties:
        cursors:
          type: object
          properties:
            before:
              type: string
            after:
              type: string
        next:
          type: string
          format: uri
        previous:
          type: string
          format: uri
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token with instagram_basic and instagram_content_publish permissions.
